Repository juliolmuller/cpf-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')", git add ./packages/cpf-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')", git add ./README.md, eslint --fix

chore: skip libs type check
  tsconfig.json
Due: none

test: update coverage reports
  packages/cpf-fmt/test/__coverage__/lcov.info
  packages/cpf-gen/test/__coverage__/lcov.info
  packages/cpf-val/test/__coverage__/lcov.info
Due: none

test: create tests to check built bundles
  package.json
  packages/cpf-fmt/test/__coverage__/lcov.info
  packages/cpf-fmt/test/build.test.js
  packages/cpf-fmt/test/dist.test.js
  packages/cpf-gen/test/__coverage__/lcov.info
  packages/cpf-gen/test/build.test.js
  packages/cpf-gen/test/dist.test.js
  packages/cpf-utils/package.json
  packages/cpf-utils/test/__coverage__/lcov.info
  packages/cpf-utils/test/build.test.js
  packages/cpf-utils/test/dist.test.js
  packages/cpf-val/test/__coverage__/lcov.info
  packages/cpf-val/test/build.test.js
  packages/cpf-val/test/dist.test.js
Due: eslint --fix

chore: add `type-check` script
  package.json
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

chore: add `test:ci` script
  package.json
Due: none

ci: create CI workflow for PR's and pushes
  .github/workflows/ci.yml
Due: none

ci: fix type-check job
  .github/workflows/ci.yml
  package.json
Due: none

chore: update pre-push Git Hook script
  .husky/pre-push
Due: none

ci: fix config variable typo
  .github/workflows/ci.yml
Due: none

chore: add changesets lib
  .changeset/config.json
  bun.lock
  package.json
Due: none

chore: add provenance to packages publishing
  .github/workflows/ci.yml
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

chore: create workflow to create new packages releases
  .github/workflows/release.yml
  package.json
Due: none

chore: update base branch for testing
  .changeset/config.json
  .github/workflows/release.yml
Due: none

docs: add changeset
  .changeset/tired-bats-act.md
Due: none

ci: update permissions
  .github/workflows/release.yml
Due: none

ci: update base branch for workflow
  .changeset/config.json
  .github/workflows/release.yml
Due: none

chore: remove dead code
  .github/workflows/release.yml
Due: none

ci: update PR title
  .github/workflows/release.yml
Due: none

ci: allow publish to NPM registry
  .github/workflows/release.yml
Due: none

chore: set codebase owners
  .changeset/major-beers-poke.md
  .github/CODEOWNERS
Due: none

chore: add changesets
  .changeset/change-01.md
  .changeset/change-02.md
  .changeset/change-03.md
  .changeset/change-04.md
  .changeset/change-05.md
  .changeset/change-06.md
  .changeset/change-07.md
  .changeset/change-08.md
  .changeset/change-09.md
  .changeset/change-10.md
  .changeset/change-11.md
  .changeset/change-12.md
  .changeset/change-13.md
  .changeset/change-14.md
  .changeset/change-15.md
  .changeset/change-16.md
  .changeset/change-17.md
  .changeset/change-18.md
Due: none

docs: update changelogs
  packages/cpf-fmt/CHANGELOG.md
  packages/cpf-gen/CHANGELOG.md
  packages/cpf-utils/CHANGELOG.md
  packages/cpf-val/CHANGELOG.md
Due: none

ci: remove duplicate setting
  .github/workflows/release.yml
Due: none

ci: edit job permissions
  .github/workflows/release.yml
Due: none

ci: add permission to write contents
  .github/workflows/release.yml
Due: none

chore: increment packages versions
  packages/cpf-fmt/CHANGELOG.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/CHANGELOG.md
  packages/cpf-gen/package.json
  packages/cpf-utils/CHANGELOG.md
  packages/cpf-utils/package.json
  packages/cpf-val/CHANGELOG.md
  packages/cpf-val/package.json
Due: none

chore: update docs and files set sent to NPM
  .eslintrc.js
  .lintstagedrc
  packages/cpf-fmt/.npmignore
  packages/cpf-fmt/README.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/.npmignore
  packages/cpf-gen/README.md
  packages/cpf-gen/package.json
  packages/cpf-utils/.npmignore
  packages/cpf-utils/package.json
  packages/cpf-val/.npmignore
  packages/cpf-val/README.md
  packages/cpf-val/package.json
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')", git add ./packages/cpf-utils/README.md, eslint --fix

chore: add ESlint
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix

refactor(fmt): lint source code
  packages/cpf-fmt/rollup.config.mjs
  packages/cpf-fmt/src/cpf-fmt.ts
  packages/cpf-fmt/src/index.ts
  packages/cpf-fmt/src/merge-options.ts
  packages/cpf-fmt/test/__coverage__/lcov.info
  packages/cpf-fmt/test/exceptions.test.js
  packages/cpf-fmt/test/options.test.js
Due: eslint --fix

refactor(gen): lint source code
  packages/cpf-gen/rollup.config.mjs
  packages/cpf-gen/src/cpf-gen.ts
  packages/cpf-gen/src/index.ts
  packages/cpf-gen/src/merge-options.ts
  packages/cpf-gen/src/number-generator.ts
  packages/cpf-gen/test/__coverage__/lcov.info
  packages/cpf-gen/test/exceptions.test.js
  packages/cpf-gen/test/options.test.js
Due: eslint --fix

refactor(val): lint source code
  packages/cpf-val/rollup.config.mjs
  packages/cpf-val/src/cpf-val.ts
  packages/cpf-val/src/index.ts
  packages/cpf-val/test/__coverage__/lcov.info
  packages/cpf-val/test/cpf-val.test.js
Due: eslint --fix

refactor(utils): lint source code
  packages/cpf-utils/rollup.config.mjs
  packages/cpf-utils/src/dist.ts
  packages/cpf-utils/src/module.ts
Due: eslint --fix

chore: add scripts to run on every workspace
  package.json
  rollup.config.mjs
Due: eslint --fix

chore: add script to lint source code at the root
  package.json
Due: none

chore: update linter
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint --fix

chore: update deps to latest versions
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

chore: add script for prepublish
  packages/cpf-utils/package.json
Due: none

chore: update dependencies to latest versions
  bun.lock
  package.json
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

Path conditions:
  node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')": any of: ./README.md
  git add ./packages/cpf-utils/README.md: any of: ./README.md
  node -e "fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')": any of: ./packages/cpf-utils/README.md
  git add ./README.md: any of: ./packages/cpf-utils/README.md
  eslint --fix: any of: *.{js,cjs,mjs,ts,mts}
