Repository juliolmuller/cpf-utils-js: changes, and which lint-staged commands are due for each by the changed paths.
All: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')", git add ./packages/cpf-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')", git add ./README.md, eslint --fix

.lintstagedrc:

{
  "./README.md": [
    "node -e \"fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')\"",
    "git add ./packages/cpf-utils/README.md"
  ],
  "./packages/cpf-utils/README.md": [
    "node -e \"fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')\"",
    "git add ./README.md"
  ],
  "*.{js,cjs,mjs,ts,mts}": [
    "eslint --fix"
  ]
}

ci: remove duplicate setting
  .github/workflows/release.yml
Due: none

ci: add permission to write contents
  .github/workflows/release.yml
Due: none

ci: edit job permissions
  .github/workflows/release.yml
Due: none

chore: increment packages versions
  packages/cpf-fmt/CHANGELOG.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/CHANGELOG.md
  packages/cpf-gen/package.json
  packages/cpf-utils/CHANGELOG.md
  packages/cpf-utils/package.json
  packages/cpf-val/CHANGELOG.md
  packages/cpf-val/package.json
Due: none

chore: configure packages entrypoint with "exports"
  .changeset/smart-otters-flash.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

chore: specify internal packages versions
  bun.lock
  package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: none

ci: add new permission to workflow
  .github/workflows/release.yml
Due: none

chore: add `.gitattributes` file to ensure EOF
  .gitattributes
Due: none

docs: fix examples
  .changeset/sad-news-care.md
  README.md
  packages/cpf-fmt/README.md
  packages/cpf-fmt/src/cpf-fmt.ts
  packages/cpf-gen/README.md
  packages/cpf-utils/README.md
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')", git add ./packages/cpf-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')", git add ./README.md, eslint --fix

ci: adjust change of directory command
  .github/workflows/ci.yml
Due: none

ci: drop unused declaration
  .github/workflows/ci.yml
Due: none

docs: update badge for test status
  README.md
  packages/cpf-fmt/README.md
  packages/cpf-gen/README.md
  packages/cpf-utils/README.md
  packages/cpf-val/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')", git add ./packages/cpf-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')", git add ./README.md

test: update tests label
  packages/cpf-fmt/test/build.test.js
  packages/cpf-gen/test/build.test.js
  packages/cpf-utils/test/build.test.js
  packages/cpf-val/test/build.test.js
Due: eslint --fix

test: update coverage report
  packages/cpf-fmt/test/__coverage__/lcov.info
  packages/cpf-gen/test/__coverage__/lcov.info
  packages/cpf-utils/test/__coverage__/lcov.info
  packages/cpf-val/test/__coverage__/lcov.info
Due: none

docs: fix docs for CPF validation
  .changeset/lemon-peaches-fetch.md
  README.md
  packages/cpf-utils/README.md
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')", git add ./packages/cpf-utils/README.md, node -e "fs=require('fs').copyFileSync('./packages/cpf-utils/README.md', './README.md')", git add ./README.md

chore: fix changeset
  .changeset/lemon-peaches-fetch.md
Due: none

docs: create demo page
  demo/index.html
  demo/scripts/index.js
  demo/scripts/nouislider.js
  demo/styles/index.css
  demo/styles/nouislider.css
Due: eslint --fix

docs: add homepage URL across project references
  README.md
  packages/cpf-fmt/package.json
  packages/cpf-gen/package.json
  packages/cpf-utils/package.json
  packages/cpf-val/package.json
Due: node -e "fs=require('fs').copyFileSync('./README.md', './packages/cpf-utils/README.md')", git add ./packages/cpf-utils/README.md

docs: enforce accessibility in the document
  demo/index.html
  demo/scripts/index.js
  demo/styles/index.css
Due: eslint --fix
